Label {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 23px;
}

input {
    font-family: 'Oswald';
    font-size: 20px;
    background-color: lightgray;
    width: 100%;
    outline: none;
}

input:focus {
    background-color: lightcoral;
}

#loginButton {
    margin-top: 1em;
    margin-left: 33%;
    border: none;
    height: 50px;
    width: 200px;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Oswald';
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
